.card1{
    background-image: url(../../spons/devfolio-card.svg);
    background-size: contain;
    background-repeat: no-repeat;
   height: 70vh;
   width: 20vw;
    
}

.card2{
    background-image: url(../../spons/polygon-card.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 70vh;
   width: 20vw;
    
}

.card3{
    background-image: url(../../spons/ethindia-card.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 70vh;
    width: 20vw;
    
}

.inner-card1{
    background-image: url(../../spons/devfolio.svg);
    background-size: contain;
    background-repeat: no-repeat;
   
   align-items: center;
   justify-content: center;
   height: 50vh;
   width: 15vw;
    
}

.inner-card2{
    background-image: url(../../spons/polygon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vh;
   width: 15vw;
    
}

.inner-card3{
    background-image: url(../../spons/ethindia.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vh;
   width: 15vw;
    
}