.scroll-text {
    background-image: url(../../public/dino-bike/text.png);
    background-size: 100%; /* Increase the size to crop the sides */
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
    width: 2400px;
    height: 300px;
    padding: 50px;
    z-index: 3;
    display: flex; /* Use Flexbox */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}

.upper-dinos {
    position: sticky;
    top: 70px;
    left: 0;
    width: 100vw;
    height: 150px;
    display: flex; /* Use Flexbox */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    border: 1px solid #a1ff1d7d;
    flex-direction: row; /* Arrange items in a row */
}

.lower-dinos {
    position: fixed;
    left: 0;
    bottom: 70px;
    width: 100vw;
    height: 150px;
    display: flex; /* Use Flexbox */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    border: 1px solid #a1ff1d7d;
}

.full-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    
}