.thugdinofront{
    background-image: url(../../dino-bike/thug-dino-front.png);
    background-size: contain;
    width: 100px;
    background-repeat: no-repeat;
    height: 100px;
    
}

.flip-vertical {
    --transform-scale-y: -1;
}